<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.seven.zerofour.bug.BugReport" alias="BugReport"/>
        <package name="com.seven.zerofour.model"/>
        <package name="com.seven.zerofour.cond"/>
        <package name="com.seven.zerofour.clear.dto"/>
        <package name="com.seven.zerofour.dto.assertPage"/>
    </typeAliases>
    <mappers>
        <mapper resource="dal/sqlMap/TbUserMapper.xml"/>


    </mappers>
</configuration>